@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 7vw;
    box-shadow: 0px 0px 20px #aaa6a6b7;
}

h1{
    color: rgba(24, 92, 180, 0.822);
    font-size: 20px;
    font-weight: bold;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.itens {
    display: inline;
    margin: 20px;
    text-decoration: none;
    color: black;

}

.itens:hover {
    color: blue;
    border-bottom: 2px solid blue;
}